/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

* {
  font-family: 'Quicksand';
}
/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 0;
}

ul{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 325px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 240px;
}

.emoji {
  display: block;
  font-size: 48px;
}
li{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

#beach:hover {
  background-color:rgb(237, 239, 202);
  cursor: pointer;
}

#city:hover {
  background-color:rgb(202, 212, 239);
  cursor: pointer;
}

#mountains:hover {
  background-color:rgb(239, 225, 202);
  cursor: pointer;
}

#desert:hover {
  background-color:rgb(235, 236, 180);
  cursor: pointer;
}

#forest:hover {
  background-color:rgb(202, 239, 217);
  cursor: pointer;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

